target/
wsl_share/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd
*/target/

# Development Properties
#*-dev.properties

# Feature Acceptance Test Properties
*-fat*.yaml
*-fat*.properties

# User Acceptance Test Properties
*-uat*.yaml
*-uat*.properties

# Production Properties
*-prd*.yaml
*-prd*.properties

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

