<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mnsoft.oauth.mapper.AccessTokenMapper">

    <select id="getRefreshToken" resultType="String">
        select refresh_token
        from oauth_access_token
        where access_token = #{accessToken}
    </select>

    <select id="getRevokeAccessToken" resultType="String">
        <foreach collection="list" item="item" index="index" separator="union all">
            select access_token from oauth_access_token
            where client_id = #{item.clientId}
            <if test="item.userId != null">
                and user_id = #{item.userId}
            </if>
            and create_time <![CDATA[ < ]]> #{item.time}
        </foreach>
    </select>

    <delete id="batchDeleteByAccessToken">
      delete from oauth_access_token where access_token in
        <foreach item="accessToken" index="index" collection="accessTokenList"
                 open="(" separator="," close=")">
            #{accessToken}
        </foreach>
    </delete>

    <delete id="deleteExpiredAccessToken">
        delete from oauth_access_token
        where create_time <![CDATA[ < ]]> date_sub(now(), INTERVAL expires_in second)
    </delete>

</mapper>