<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mnsoft.oauth.modules.user.mapper.UserMapper">

    <select id="login" parameterType="java.lang.String" resultType="com.mnsoft.oauth.model.Account">
       ${sql}
    </select>

</mapper>